## Analytic Report project

Given the dataset (data.csv), create an analytic report to answer three below
questions. 
1. What are key factors that are playing into current attrition
rates?
2. What are key factors that are playing into current
satisfaction rates?
3. When are employees leaving?

# Kích thước dữ liệu: rows, columns

# Thống kê mô tả

# A quick look of the datasets

In [1]:
import pandas as pd
import scipy
data = pd.read_csv("./data.csv")
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

# Describe the Datasets

In [2]:
print (f"Data has {data.shape[0]} rows and {data.shape[1]} columns")

Data has 1470 rows and 35 columns

In [3]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

Không phát hiện điều gì bất thường ở bảng trên

# Missing value

In [4]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

There is no missing value in datasets

# Datasets transformation

In [5]:
def transformAttrition(value):
    if (value == 'Yes'):
        return 1
    if (value == 'No'):
        return 0
data['AttritionNum'] = data.Attrition.apply(lambda x: transformAttrition(x))
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,AttritionNum
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,1
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,0
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,1
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,0

We transformed Attrition string to new numeric column: AttritionNum

# What are key factors that are playing into current attrition rates?

We seperate two group Attrition = YES and Attrtion = NO
We loop all numeric columns. For each column we set hypothesis H0 does not affect Attrition and H1 does affect Attrition rate.
Then we use t test to reject H0 hypothesis.

In [24]:
attrition0 = data[data['AttritionNum'] == 0]
attrition1 = data[data['AttritionNum'] == 1]
affectAttrition = []
for column in data:
    if (data[column].dtype == 'int64'):
      if (column == 'AttritionNum'):
        continue
      print('\n====================%s=========================' % column)
      print('H0: %s does not affect Attrition rate' % column)
      print('H1: %s does affect Attrition rate' % column)
      twosample = scipy.stats.ttest_ind(attrition0[column], attrition1[column])
      print(twosample)
      if (twosample[1] < 0.05):
        print('%s < 0.05, we can reject H0, %s does affect Attrition rate' % (twosample[1], column))
        affectAttrition.append(column)
      else:
        print('%s > 0.05, we cannot reject H0' % twosample[1])

print('\n\n')        
print('==================What are key factors that are playing into current attrition rates?=======================')
print('Key factors affect to Attrition rate', affectAttrition)

====================Age=========================
H0: Age does not affect Attrition rate
H1: Age does affect Attrition rate
Ttest_indResult(statistic=6.1786638353072165, pvalue=8.356308021103649e-10)
8.356308021103649e-10 < 0.05, we can reject H0, Age does affect Attrition rate

====================DailyRate=========================
H0: DailyRate does not affect Attrition rate
H1: DailyRate does affect Attrition rate
Ttest_indResult(statistic=2.1740836777017747, pvalue=0.02985816066026497)
0.02985816066026497 < 0.05, we can reject H0, DailyRate does affect Attrition rate

====================DistanceFromHome=========================
H0: DistanceFromHome does not affect Attrition rate
H1: DistanceFromHome does affect Attrition rate
Ttest_indResult(statistic=-2.994708098265125, pvalue=0.0027930600802134266)
0.0027930600802134266 < 0.05, we can reject H0, DistanceFromHome does affect Attrition rate

====================Education=========================
H0: Education does not affect Attrition rate
H1: Education does affect Attrition rate
Ttest_indResult(statistic=1.202625515508589, pvalue=0.2293152033223043)
0.2293152033223043 > 0.05, we cannot reject H0

====================EmployeeCount=========================
H0: EmployeeCount does not affect Attrition rate
H1: EmployeeCount does affect Attrition rate
Ttest_indResult(statistic=nan, pvalue=nan)
nan > 0.05, we cannot reject H0

====================EmployeeNumber=========================
H0: EmployeeNumber does not affect Attrition rate
H1: EmployeeNumber does affect Attrition rate
Ttest_indResult(statistic=0.4052843139019291, pvalue=0.6853275897297122)
0.6853275897297122 > 0.05, we cannot reject H0

====================EnvironmentSatisfaction=========================
H0: EnvironmentSatisfaction does not affect Attrition rate
H1: EnvironmentSatisfaction does affect Attrition rate
Ttest_indResult(statistic=3.9818600026818496, pvalue=7.17233854936886e-05)
7.17233854936886e-05 < 0.05, we can reject H0, EnvironmentSatisfaction does affect Attrition rate

====================HourlyRate=========================
H0: HourlyRate does not affect Attrition rate
H1: HourlyRate does affect Attrition rate
Ttest_indResult(statistic=0.26228987349264493, pvalue=0.7931347689944243)
0.7931347689944243 > 0.05, we cannot reject H0

====================JobInvolvement=========================
H0: JobInvolvement does not affect Attrition rate
H1: JobInvolvement does affect Attrition rate
Ttest_indResult(statistic=5.024140228583729, pvalue=5.677065356745289e-07)
5.677065356745289e-07 < 0.05, we can reject H0, JobInvolvement does affect Attrition rate

====================JobLevel=========================
H0: JobLevel does not affect Attrition rate
H1: JobLevel does affect Attrition rate
Ttest_indResult(statistic=6.573837830953691, pvalue=6.795384780015255e-11)
6.795384780015255e-11 < 0.05, we can reject H0, JobLevel does affect Attrition rate

====================JobSatisfaction=========================
H0: JobSatisfaction does not affect Attrition rate
H1: JobSatisfaction does affect Attrition rate
Ttest_indResult(statistic=3.9862267630568273, pvalue=7.04306674173115e-05)
7.04306674173115e-05 < 0.05, we can reject H0, JobSatisfaction does affect Attrition rate

====================MonthlyIncome=========================
H0: MonthlyIncome does not affect Attrition rate
H1: MonthlyIncome does affect Attrition rate
Ttest_indResult(statistic=6.203935765608938, pvalue=7.14736398535381e-10)
7.14736398535381e-10 < 0.05, we can reject H0, MonthlyIncome does affect Attrition rate

====================MonthlyRate=========================
H0: MonthlyRate does not affect Attrition rate
H1: MonthlyRate does affect Attrition rate
Ttest_indResult(statistic=-0.5813058211545318, pvalue=0.5611235982243015)
0.5611235982243015 > 0.05, we cannot reject H0

====================NumCompaniesWorked=========================
H0: NumCompaniesWorked does not affect Attrition rate
H1: NumCompaniesWorked does affect Attrition rate
Ttest_indResult(statistic=-1.6680187953544354, pvalue=0.0955252620565195)
0.0955252620565195 > 0.05, we cannot reject H0

====================PercentSalaryHike=========================
H0: PercentSalaryHike does not affect Attrition rate
H1: PercentSalaryHike does affect Attrition rate
Ttest_indResult(statistic=0.5164573250747643, pvalue=0.6056128238893757)
0.6056128238893757 > 0.05, we cannot reject H0

====================PerformanceRating=========================
H0: PerformanceRating does not affect Attrition rate
H1: PerformanceRating does affect Attrition rate
Ttest_indResult(statistic=-0.11068150493295091, pvalue=0.9118840421069003)
0.9118840421069003 > 0.05, we cannot reject H0

====================RelationshipSatisfaction=========================
H0: RelationshipSatisfaction does not affect Attrition rate
H1: RelationshipSatisfaction does affect Attrition rate
Ttest_indResult(statistic=1.7594250082285654, pvalue=0.07871363048465838)
0.07871363048465838 > 0.05, we cannot reject H0

====================StandardHours=========================
H0: StandardHours does not affect Attrition rate
H1: StandardHours does affect Attrition rate
Ttest_indResult(statistic=nan, pvalue=nan)
nan > 0.05, we cannot reject H0

====================StockOptionLevel=========================
H0: StockOptionLevel does not affect Attrition rate
H1: StockOptionLevel does affect Attrition rate
Ttest_indResult(statistic=5.3047620976099115, pvalue=1.3010149660019924e-07)
1.3010149660019924e-07 < 0.05, we can reject H0, StockOptionLevel does affect Attrition rate

====================TotalWorkingYears=========================
H0: TotalWorkingYears does not affect Attrition rate
H1: TotalWorkingYears does affect Attrition rate
Ttest_indResult(statistic=6.6522546135024445, pvalue=4.0618781112668525e-11)
4.0618781112668525e-11 < 0.05, we can reject H0, TotalWorkingYears does affect Attrition rate

====================TrainingTimesLastYear=========================
H0: TrainingTimesLastYear does not affect Attrition rate
H1: TrainingTimesLastYear does affect Attrition rate
Ttest_indResult(statistic=2.2829029923666897, pvalue=0.02257849973720126)
0.02257849973720126 < 0.05, we can reject H0, TrainingTimesLastYear does affect Attrition rate

====================WorkLifeBalance=========================
H0: WorkLifeBalance does not affect Attrition rate
H1: WorkLifeBalance does affect Attrition rate
Ttest_indResult(statistic=2.4548148934297767, pvalue=0.014211054989021308)
0.014211054989021308 < 0.05, we can reject H0, WorkLifeBalance does affect Attrition rate

====================YearsAtCompany=========================
H0: YearsAtCompany does not affect Attrition rate
H1: YearsAtCompany does affect Attrition rate
Ttest_indResult(statistic=5.1963086670254235, pvalue=2.3188716103863033e-07)
2.3188716103863033e-07 < 0.05, we can reject H0, YearsAtCompany does affect Attrition rate

====================YearsInCurrentRole=========================
H0: YearsInCurrentRole does not affect Attrition rate
H1: YearsInCurrentRole does affect Attrition rate
Ttest_indResult(statistic=6.232038413295282, pvalue=6.003185843641377e-10)
6.003185843641377e-10 < 0.05, we can reject H0, YearsInCurrentRole does affect Attrition rate

====================YearsSinceLastPromotion=========================
H0: YearsSinceLastPromotion does not affect Attrition rate
H1: YearsSinceLastPromotion does affect Attrition rate
Ttest_indResult(statistic=1.2657876620135298, pvalue=0.2057899591624936)
0.2057899591624936 > 0.05, we cannot reject H0

====================YearsWithCurrManager=========================
H0: YearsWithCurrManager does not affect Attrition rate
H1: YearsWithCurrManager does affect Attrition rate
Ttest_indResult(statistic=6.059068531868998, pvalue=1.7369867845242207e-09)
1.7369867845242207e-09 < 0.05, we can reject H0, YearsWithCurrManager does affect Attrition rate



==================What are key factors that are playing into current attrition rates?=======================
Key factors affect to Attrition rate ['Age', 'DailyRate', 'DistanceFromHome', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsWithCurrManager']

# What are key factors that are playing into current satisfaction rates?

We seperate 4 group JobSatisfaction = 1,2,3,4
We loop all numeric columns. For each column we set hypothesis H0 does not affect JobSatisfaction and H1 does affect JobSatisfaction rate.
Then we use anova to reject H0 hypothesis.

In [23]:
jobSf1 = data[data['JobSatisfaction'] == 1]
jobSf2 = data[data['JobSatisfaction'] == 2]
jobSf3 = data[data['JobSatisfaction'] == 3]
jobSf4 = data[data['JobSatisfaction'] == 4]
affectJobSf = []
for column in data:
    if (data[column].dtype == 'int64'):
      if (column == 'JobSatisfaction'):
        continue
      print('\n====================%s=========================' % column)
      print('H0: %s does not affect JobSatisfaction rate' % column)
      print('H1: %s does affect JobSatisfaction rate' % column)
      jobAnovaOneWay = scipy.stats.f_oneway(jobSf1[column], jobSf2[column], jobSf3[column], jobSf4[column])
      print(jobAnovaOneWay)
      if (jobAnovaOneWay[1] < 0.05):
        print('%s < 0.05, we can reject H0, %s does affect Attrition rate' % (jobAnovaOneWay[1], column))
        affectJobSf.append(column)
      else:
        print('%s > 0.05, we cannot reject H0' % jobAnovaOneWay[1])

print('\n\n')        
print('==================What are key factors that are playing into current satisfaction rates?=======================')
print(affectJobSf)

====================Age=========================
H0: Age does not affect JobSatisfaction rate
H1: Age does affect JobSatisfaction rate
F_onewayResult(statistic=0.051798411447326435, pvalue=0.9844403066163281)
0.9844403066163281 > 0.05, we cannot reject H0

====================DailyRate=========================
H0: DailyRate does not affect JobSatisfaction rate
H1: DailyRate does affect JobSatisfaction rate
F_onewayResult(statistic=1.7695855893681165, pvalue=0.15103920004212745)
0.15103920004212745 > 0.05, we cannot reject H0

====================DistanceFromHome=========================
H0: DistanceFromHome does not affect JobSatisfaction rate
H1: DistanceFromHome does affect JobSatisfaction rate
F_onewayResult(statistic=0.18657749054436545, pvalue=0.9055666234307)
0.9055666234307 > 0.05, we cannot reject H0

====================Education=========================
H0: Education does not affect JobSatisfaction rate
H1: Education does affect JobSatisfaction rate
F_onewayResult(statistic=0.13404092165122303, pvalue=0.9397866771252298)
0.9397866771252298 > 0.05, we cannot reject H0

====================EmployeeCount=========================
H0: EmployeeCount does not affect JobSatisfaction rate
H1: EmployeeCount does affect JobSatisfaction rate
F_onewayResult(statistic=nan, pvalue=nan)
nan > 0.05, we cannot reject H0

====================EmployeeNumber=========================
H0: EmployeeNumber does not affect JobSatisfaction rate
H1: EmployeeNumber does affect JobSatisfaction rate
F_onewayResult(statistic=1.1460405396978801, pvalue=0.3292553311868489)
0.3292553311868489 > 0.05, we cannot reject H0

====================EnvironmentSatisfaction=========================
H0: EnvironmentSatisfaction does not affect JobSatisfaction rate
H1: EnvironmentSatisfaction does affect JobSatisfaction rate
F_onewayResult(statistic=0.8862211783945757, pvalue=0.44755645631696017)
0.44755645631696017 > 0.05, we cannot reject H0

====================HourlyRate=========================
H0: HourlyRate does not affect JobSatisfaction rate
H1: HourlyRate does affect JobSatisfaction rate
F_onewayResult(statistic=2.7953564190935345, pvalue=0.039040438247272276)
0.039040438247272276 < 0.05, we can reject H0, HourlyRate does affect Attrition rate

====================JobInvolvement=========================
H0: JobInvolvement does not affect JobSatisfaction rate
H1: JobInvolvement does affect JobSatisfaction rate
F_onewayResult(statistic=0.2615260463113646, pvalue=0.8531383312329168)
0.8531383312329168 > 0.05, we cannot reject H0

====================JobLevel=========================
H0: JobLevel does not affect JobSatisfaction rate
H1: JobLevel does affect JobSatisfaction rate
F_onewayResult(statistic=0.04578493928437969, pvalue=0.9869999316833896)
0.9869999316833896 > 0.05, we cannot reject H0

====================MonthlyIncome=========================
H0: MonthlyIncome does not affect JobSatisfaction rate
H1: MonthlyIncome does affect JobSatisfaction rate
F_onewayResult(statistic=0.027038829545482108, pvalue=0.9940001654548951)
0.9940001654548951 > 0.05, we cannot reject H0

====================MonthlyRate=========================
H0: MonthlyRate does not affect JobSatisfaction rate
H1: MonthlyRate does affect JobSatisfaction rate
F_onewayResult(statistic=0.513274641902625, pvalue=0.6731749228252926)
0.6731749228252926 > 0.05, we cannot reject H0

====================NumCompaniesWorked=========================
H0: NumCompaniesWorked does not affect JobSatisfaction rate
H1: NumCompaniesWorked does affect JobSatisfaction rate
F_onewayResult(statistic=1.5971695194298183, pvalue=0.18820865953803384)
0.18820865953803384 > 0.05, we cannot reject H0

====================PercentSalaryHike=========================
H0: PercentSalaryHike does not affect JobSatisfaction rate
H1: PercentSalaryHike does affect JobSatisfaction rate
F_onewayResult(statistic=1.091841025718162, pvalue=0.3514204168490329)
0.3514204168490329 > 0.05, we cannot reject H0

====================PerformanceRating=========================
H0: PerformanceRating does not affect JobSatisfaction rate
H1: PerformanceRating does affect JobSatisfaction rate
F_onewayResult(statistic=1.3381216702182612, pvalue=0.2603599439122399)
0.2603599439122399 > 0.05, we cannot reject H0

====================RelationshipSatisfaction=========================
H0: RelationshipSatisfaction does not affect JobSatisfaction rate
H1: RelationshipSatisfaction does affect JobSatisfaction rate
F_onewayResult(statistic=0.11502850546907442, pvalue=0.9513223788692188)
0.9513223788692188 > 0.05, we cannot reject H0

====================StandardHours=========================
H0: StandardHours does not affect JobSatisfaction rate
H1: StandardHours does affect JobSatisfaction rate
F_onewayResult(statistic=nan, pvalue=nan)
nan > 0.05, we cannot reject H0

====================StockOptionLevel=========================
H0: StockOptionLevel does not affect JobSatisfaction rate
H1: StockOptionLevel does affect JobSatisfaction rate
F_onewayResult(statistic=0.39338079469907966, pvalue=0.7577882512046952)
0.7577882512046952 > 0.05, we cannot reject H0

====================TotalWorkingYears=========================
H0: TotalWorkingYears does not affect JobSatisfaction rate
H1: TotalWorkingYears does affect JobSatisfaction rate
F_onewayResult(statistic=0.2759417442252019, pvalue=0.8427890335746224)
0.8427890335746224 > 0.05, we cannot reject H0

====================TrainingTimesLastYear=========================
H0: TrainingTimesLastYear does not affect JobSatisfaction rate
H1: TrainingTimesLastYear does affect JobSatisfaction rate
F_onewayResult(statistic=0.4331784346387726, pvalue=0.7292749568958701)
0.7292749568958701 > 0.05, we cannot reject H0

====================WorkLifeBalance=========================
H0: WorkLifeBalance does not affect JobSatisfaction rate
H1: WorkLifeBalance does affect JobSatisfaction rate
F_onewayResult(statistic=0.4678834562724909, pvalue=0.7047245557843753)
0.7047245557843753 > 0.05, we cannot reject H0

====================YearsAtCompany=========================
H0: YearsAtCompany does not affect JobSatisfaction rate
H1: YearsAtCompany does affect JobSatisfaction rate
F_onewayResult(statistic=0.033557520533201386, pvalue=0.9917528760244054)
0.9917528760244054 > 0.05, we cannot reject H0

====================YearsInCurrentRole=========================
H0: YearsInCurrentRole does not affect JobSatisfaction rate
H1: YearsInCurrentRole does affect JobSatisfaction rate
F_onewayResult(statistic=0.12182711023317545, pvalue=0.9472613160241014)
0.9472613160241014 > 0.05, we cannot reject H0

====================YearsSinceLastPromotion=========================
H0: YearsSinceLastPromotion does not affect JobSatisfaction rate
H1: YearsSinceLastPromotion does affect JobSatisfaction rate
F_onewayResult(statistic=0.20915579218862418, pvalue=0.8900981590873559)
0.8900981590873559 > 0.05, we cannot reject H0

====================YearsWithCurrManager=========================
H0: YearsWithCurrManager does not affect JobSatisfaction rate
H1: YearsWithCurrManager does affect JobSatisfaction rate
F_onewayResult(statistic=0.6527513652785619, pvalue=0.5812504044357087)
0.5812504044357087 > 0.05, we cannot reject H0

====================AttritionNum=========================
H0: AttritionNum does not affect JobSatisfaction rate
H1: AttritionNum does affect JobSatisfaction rate
F_onewayResult(statistic=5.8892788518552335, pvalue=0.0005398918860203367)
0.0005398918860203367 < 0.05, we can reject H0, AttritionNum does affect Attrition rate



==================What are key factors that are playing into current satisfaction rates?=======================
['HourlyRate', 'AttritionNum']

# When are employees leaving?

Those factors that affect to Attrition rate.

['Age', 'DailyRate', 'DistanceFromHome', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsWithCurrManager']

We will look into those columns and find when employees leaving.

In [78]:
dfgb = data.groupby(['JobSatisfaction','EnvironmentSatisfaction']).agg({'Attrition': [ pd.Series.count, pd.Series.nunique],
                                                 'AttritionNum': pd.Series.sum})
dfgb['AttritionRate'] = dfgb['AttritionNum']['sum'] / dfgb['Attrition']['count']
dfgb

                                        Attrition         AttritionNum  \
                                            count nunique          sum
JobSatisfaction EnvironmentSatisfaction
1               1                              53       2           20
                2                              55       2           14
                3                              94       2           16
                4                              87       2           16
2               1                              47       2           16
                2                              59       2            8
                3                              87       2           12
                4                              87       2           10
3               1                             100       2           22
                2                              84       2           13
                3                             128       2           16
                4                             130       2           22
4               1                              84       2           14
                2                              89       2            8
                3                             144       2           18
                4                             142       2           12

                                        AttritionRate

JobSatisfaction EnvironmentSatisfaction
1               1                            0.377358
                2                            0.254545
                3                            0.170213
                4                            0.183908
2               1                            0.340426
                2                            0.135593
                3                            0.137931
                4                            0.114943
3               1                            0.220000
                2                            0.154762
                3                            0.125000
                4                            0.169231
4               1                            0.166667
                2                            0.089888
                3                            0.125000
                4                            0.084507

Conclusion: If JobSatisfaction and EnvironmentSatisfaction are low, Attrition rate will be high.

In [87]:
dfgb = data.groupby(['JobInvolvement','JobLevel']).agg({'Attrition': [ pd.Series.count, pd.Series.nunique],
                                                 'AttritionNum': pd.Series.sum})
dfgb['AttritionRate'] = dfgb['AttritionNum']['sum'] / dfgb['Attrition']['count']
dfgb

                        Attrition         AttritionNum AttritionRate
                            count nunique          sum
JobInvolvement JobLevel
1              1               30       2           15      0.500000
               2               35       2            8      0.228571
               3               10       2            2      0.200000
               4                3       2            1      0.333333
               5                5       2            2      0.400000
2              1              137       2           46      0.335766
               2              128       2           13      0.101562
               3               66       2           12      0.181818
               4               27       1            0      0.000000
               5               17       1            0      0.000000
3              1              318       2           75      0.235849
               2              317       2           28      0.088328
               3              128       2           17      0.132812
               4               62       2            2      0.032258
               5               43       2            3      0.069767
4              1               58       2            7      0.120690
               2               54       2            3      0.055556
               3               14       2            1      0.071429
               4               14       2            2      0.142857
               5                4       1            0      0.000000

Conclusion: If JobInvolvement and JobLevel are low, Attrition rate will be high. 
especially, when both is 1, Attrition rate is 50%.